* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

body {
  // overflow: hidden;
}

main {
  margin: 0 auto;
  max-width: 1400px;
  align-items: center;
}
