.swiperBox {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1400px;
  min-height: 595px;
  margin: 0 auto;
  background: transparent linear-gradient(270deg, #6696E2 0%, #E27866 100%) 0% 0% no-repeat padding-box;
  overflow: hidden;
}

#hill-div{
  position: absolute;
  max-width: 1400px;
  max-height: 620px;
  opacity: 0.42;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

}

#hill-div img {
  object-fit: contain;
  max-height:100%;
  max-width:100%;
  flex-shrink: 0;
  // background-position: center;
  background-size: cover;
  overflow: hidden;
}

.tabs {
  width:300px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.swiper {
  position: relative;
  max-width: 1000px;
  min-height: 600px;
  padding: 0;
  overflow: hidden;
}

.swiper-wrapper:nth-of-type(1) {
  margin-top: 141px;
  margin-bottom: 114px;
}

#swiper-1 {
  display: flex;
  flex-direction: row;
  background: none;
  margin-left: 10px;
  overflow: hidden;
}

#swiperText {
  display: flex;
  flex-direction: column;
}

#swiper-1 h4 {
  text-align: left;
  font-size: 36px;
  color: #FFFFFF;
  width: 509px;
}

#swiper-1 p {
  margin-top: 30px;
  font-size: 14px;
  width: 517px;
}

#swiper-1 span {
  font-size: 14px;
}

#leaves, #veggies {
  width: 168px;
  height: 168px;
}

#stairs {
  width: 362px;
  height: 177px;
}

#swiperImg {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.swiper-pagination-bullet {
  border: 3px solid white;
}

.swiper-pagination-bullet-active {
  background: white;
}

#swiper-1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 50px;
  color: white;
  // width: 900px !important;
  height: 365px;
  overflow: hidden;
}

/* Tabs style */
.swiperBox button {
  position: relative;
  width: 100px;
  height: 100px;
  background: #E27866;
  color: white;
  border: none;
  margin: 10px 0;
  font-size: 20px;
  transition: 0.3s;
  opacity: 50%;
}

.swiperBox button:hover {
  opacity: 1;
}

.swiperBox button span {
  display: inline-block;
  transform: rotate(-45deg);
  font-size: 14px;
  font-weight: bold;
}

.swiperBox button:after {
  position: absolute;
  top: 6px;
  left: 0%;
  content: "";
  border: 20px solid transparent;
  border-left-color: black;
  opacity: 0;
  transition: 0.3s;
}
